/ProjectPengubinan/nbproject/private/
/ProjectPengubinan/build/
/ProjectLuasBangunKompleks/nbproject/private/
/ProjectOverloading/nbproject/private/
/ProjectOverloading/build/
/ProjectAdvancedOperasi/nbproject/private/
/ProjectLuasBangunKompleks/build/
/ProjectAdvancedOperasi/build/
/ProjectBangunDatar2/nbproject/private/
/ProjectBangunDatar2/build/