/ProjectPengubinan/nbproject/private/
/ProjectPengubinan/build/
/ProjectLuasBangunKompleks/nbproject/private/
/ProjectOverloading/nbproject/private/
/ProjectOverloading/build/
/ProjectAdvancedOperasi/nbproject/private/
/ProjectLuasBangunKompleks/build/
/ProjectAdvancedOperasi/build/
/ProjectBangunDatar2/nbproject/private/
/ProjectBangunDatar2/build/
/DegDeganApp/nbproject/private/
/DegDeganApp/build/
/PythagorasProject/nbproject/private/
/GameTebakAngkaProject/nbproject/private/
/PythagorasProject/build/
/GameTebakAngkaProject/build/
/ProjectRerata/nbproject/private/
/ProjectRerata/build/
/ProjectRerata2/nbproject/private/
/SimpleArrayList/nbproject/private/
/ProjectRerata2/build/
/SimpleArrayList/build/
/ProjectBangun/nbproject/private/
/ProjectBangun/build/
/PerguruanTinggiX/nbproject/private/
/PerguruanTinggiX/build/
/RentalConsoleGame/nbproject/private/
/RentalConsoleGame/build/
/RentalGame/nbproject/private/
/RentalGame/build/
/ProjectBangun2/nbproject/private/
/ProjectBangun2/build/
/ProjectRentalConsolGameImproved/nbproject/private/
/ProjectRentalConsolGameImproved/build/